/* Poor man's hack */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

/* Color Theme -
 * Tea green, Rose quartz, Licorice, Bice Blue, Thistle
 */

/* Define variables for your colors */
:root {
    --color-shades-dark: rgb(25, 25, 25);
    --color-shades-light: rgb(165, 167, 175);
}
html{
    height:100%;
}
/* Basic font styling */
body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
    font-family:
        Segoe UI,
        system-ui,
        -apple-system,
        sans-serif;
    font-size: 1.6rem;
    text-align: center;
    background-color: grey;
}

/* Remove the default list styling and create a flexible layout for the list */
ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Basic link styling */
a {
    --text-color: var(--color-shades-dark);

    border-block-end: 3px solid var(--border-color, transparent);
    color: var(--text-color);
    padding: 0.1rem;
    text-decoration: none;
}

/* Change the border-color on :hover and :focus */
a:where(:hover, :focus) {
    --border-color: var(--text-color);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

